@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/**-------------------------------------------------------Heading---------**/
header {
    margin: 0;
    padding: 0;
}

.title {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 4vmax;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menu-item {
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 0;
}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: black;
    height: 100px;
}

.menu-item a i {
    padding-top: 25px;
    display: block;
    color: black;
    font-size: 25px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.menu-item a i:hover {
    color: #46CDE3;
}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

/* -----------------------------------------------------------------Menu Bar Borders---------------- */

.menu-item {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    position: relative;
}

.menu-item:before {
    content:'';
    position: absolute;
    left: 0;
    height: 80%;
    bottom: 10%;
    border-left: 2px solid black;
}

/**------------------------------------------------------------------------------Logo-----------**/
    
.dragon-logo {
    background:url("../images/dragon-logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 200px;
}

.dragon-logo {
    margin-top: 1em;
}

/* ----------------------------------------------------------------------------General------------- */

.section-heading {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.link-text {
    text-decoration: none;
    color: #46cde3;
}

.link-text:hover {
    text-decoration: none;
    color: #3f82e0;
}

.paragraph-heading {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}

p {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
}

/**----------------------------------------------------------------------------Footer-------------**/

footer {
    min-height: 86px;
    background-color: #777777;
}
.social-links {
    text-align: center;
}

.social-icon i {
    font-size: 26px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px;
    color: #fafafa;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.social-icon i:hover {
    color: #46cde3;
}

/* -----------------------------------------------------------Home Page------- */

.three-columns {
    text-align: center;
    margin-top: 50px;
}

.three-columns-icon {
    width: 62px;
    height: 62px;
    font-size: 34px;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #777777;
    border: 2px solid #46cde3;
    border-radius: 50%;
}

.three-columns p {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 32px;
}

.get-in-touch-icon {
    font-size: 36px;
    margin-bottom: 25px;
    color: #46cde3;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.get-in-touch-icon:hover {
    color: #3f82e0;
}

/* --------------------------------------------------------------About Page------------- */

.about-column {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.about-column-one {
    margin-top: 50px;
}

.about-column-two {
    margin-bottom: 50px;
}

/* --------------------------------------------------------------Contact Page----------- */

.contact-column {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.col-form-label,.col-form-label-sm {
    margin-right: 5px;
}

.submit-btn {
    background-color: #46cde3;
    color: #fafafa;
}

.contact-intro {
    margin-bottom: 50px;
}

/* ---------------------------------------------------------------Gallery------------------ */

.gallery-column {
    padding: 49px 0;
}

.gallery-heading, .gallery-intro {
    text-align: center;
}

.gallery-column img {
    padding: 1px;
}

.gallery-block {
    padding: 25px 0;
}

.gallery-block p {
    padding-bottom: 25px;
}